@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  background-color: #000;
}

main {
  width: 50%;
  margin: 15dvh auto;
  min-height: 50dvh;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "a b"
    "c c"
    "d d";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.rounded-container {
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rounded-container.large {
  min-height: 300px;
}

.rounded-container:not(.white) {
  box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.2);
}

.rounded-container.white {
  background-color: #fff;
  color: #000 !important;
}

.rounded-container.white:first-child {
  grid-area: a;
}

.rounded-container.white:nth-child(2) {
  grid-area: b;
}

#about-me {
  grid-area: c;
}

#me {
  background-image: url("/img/me.jpeg");
  background-size: cover;
}

#skills {
  grid-area: d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#skills img {
  width: 50px;
}

@media (min-width: 1603px) {
  main {
    width: 30%;
  }
}
